<body class="body">
  <h1>Welcome to Post-Boy</h1>
  <div class="BodyStuff">
    <div class='insertFrom'>
     <button class="button1" (click)='showform()' [hidden]='hidebox1'>New Post</button>
        <h3 [hidden]='hidebox2'>
          <div>Subject</div>
          
            <input class="inputSubject"  [(ngModel)] = "tempValue1"/>
            <br/>
            <div>Description</div>
            <br/>
            <textarea id='textboxid' [(ngModel)] = "tempValue2"></textarea>
            <br/>
            <button [hidden]='hidebox2' class="button" (click)='addPost()'>Post</button>
            
            
        </h3>
        
        <div class="Error" [hidden]='hidebox3'>This post does not work, please try again</div>
        <button [hidden]='hidebox4' class="xButton" (click)='goBack()'>Go Back</button>
    </div>
  <br/>
  <div [hidden]='hidebox1' class='textStuff'>
      <ul [ngClass]='post.style'   *ngFor="let post of postList;let i = index; trackBy: trackByPost">
        <li class="wholePost">
          <div>
          <div class="Subject">{{post.postName}}</div>
          <div class="PostBody">{{post.postDescription}} </div>
        </div>
          <button class="xButton" (click)='remove(i)'>x</button>
      </li>
      </ul>
  </div>
</div>

<router-outlet></router-outlet>
</body>