<!--The content below is only a placeholder and can be replaced.-->
<button (click)='showform()' [hidden]='hidebox1'>New Post</button>
  <h3 [hidden]='hidebox2'>Add a Post
      Subject<input [(ngModel)] = "tempValue1"/>

      Post discription<input [(ngModel)] = "tempValue2"/>
      
      <button (click)='addPost()'>Post</button>
    </h3>
<p [ngClass]='post.style'   *ngFor="let post of postList;let i = index; trackBy: trackByPost">
 
  #{{i+1}}  {{post.postName}} {{post.postDiscription}} 
  <button (click)='remove(i)'>x</button> 
</p>


<router-outlet></router-outlet>
